body {
    background-color: #000000;
    color: #00FF00;
    border: 1px solid rgb(0, 240, 0);
    text-align: center;
  }

h1 {
   font-size: 40px;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   padding-top: 30px;
   color: #000000;
   text-shadow: 2px 2px 5px #00FF00;
}

h2 {
   font-size: 40px;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   padding-bottom: 30px;
   color: #000000;
}

#imgHead {
  background-image: url(https://i.ibb.co/yp9vXvd/20160505-151327.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  height: auto;
  display: block;
}

#about-me {
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
}

#serviceArea {
  border-top: 2px solid #00FF00;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
}

#motto-subtext1 {
  font-size: 40px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
}

#citrus-co {
  height:auto;
  width:150px;
}

#motto-subtext2 {
  font-size: 40px;
  padding-top: 50px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
}

.navbar {
  width: 100%;
  background-color:#000000;
  position: fixed;
  top: 0;
}

.nav-link {
  color:#00FF00;
}

#constructionText {
    font-size: 35px;
    color: #FF0000;
  }

#contacts {
    color: #00FF00;
    font-size: 30px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 5px #ffffff;
  }

#motto {
    color: #000000;
    text-shadow: 2px 2px 5px #00FF00;
  }

#Services {
  font-size: 25px;
  border-bottom:  2px solid #00FF00;
  text-shadow: 2px 2px 5px #ffffff;
}

#ServiceList {
  font-size: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px #ffffff;
}

a:hover {
  color: #FFFFFF;
}

#li {
  text-align:center;
}
