body {
    background-color: #000000;
    color: #00FF00;
    border: 1px solid rgb(0, 240, 0);
    text-align: center;
    text-shadow: 2px 2px 5px #ffffff;
  }

h1 {
   font-size: 35px;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   padding-top: 30px;
   color: #000000;
   text-shadow: 2px 2px 5px #00FF00;
}

h2 {
   font-size: 35px;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   padding-bottom: 30px;
   color: #000000;
}

#imgHead {
  background-image: url(https://raw.githubusercontent.com/ArtBerger88/ArtRepo/main/20160505_151327.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 340px;
  height: 310px;
  display: block;
}

#logo {
  width: 23px;
  height: 20px;
}

#about-me, #mission {
  font-size: 23px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
  padding-top: 10px;
}

#missionTitle {
  font-size: 50px;
  border-bottom:  2px solid #00FF00;
}

#serviceArea {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
}

#citrus-co {
  height:auto;
  width:200px;
}

.navbar {
  width: 100%;
  background-color:#000000;
  position: fixed;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

.nav-link {
  color:#00FF00;
  padding-right:10px;
}

#contacts {
    color: #00FF00;
    font-size: 27px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 5px #ffffff;
    padding-top: 30px;
  }

#motto {
    font-size:30px;
    color: #000000;
    text-shadow: 2px 2px 5px #00FF00;
  }

#services, #paymentHead {
  font-size: 50px;
  border-bottom:  2px solid #00FF00;
  text-shadow: 2px 2px 5px #ffffff;
}

#ServiceList {
  font-size: 30px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px #ffffff;
  padding-top: 20px;
  justify-content: center;
}

a:hover {
  color: #FFFFFF;
}

#serviceCitys {
  color:blue;
}

/*Fade In and Out keyframes*/

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/*Blink animation keyframe*/

@keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

/*Color change animaton keyframe*/

@keyframes colorChange {
  0% { color: #FF0000; }
  25% { color: #00FF00; }
  50% { color: #0000FF; }
  75% { color: #00FFBB; }
  100% { color: #FF0000; }
}

.fade-in-out {
  animation: fadeOut 4s ease-out 4s, fadeIn 4s ease-in,  fadeOut 4s ease-out 4s,  fadeIn 4s ease-in 4s;
  animation-fill-mode: forwards;
  animation: colorChange 5s infinite;
}

/*color for clickable links*/

.tele, .fb, .email {
  color:#00FFBB
}

.imgContainer {
  background-color: #000000;
  display: block;
  padding: 20px;
  padding-top:50px;
}

.fadeImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/*.fadeImg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.fadeImg2 {
  animation-name: fadeOut;
  animation-delay: 1.5s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#img13 {
  position:absolute;
  opacity: 1;
  animation-delay: 4s;
  animation: fadeOut 4s, fadeIn 4s forwards;
  animation-iteration-count: infinite;
}

#img14 {
  animation-delay: 1s;
  animation: fadeIn 4s, fadeOut 4s forwards;
  animation-iteration-count: infinite;
}
 
#img1, #img2, #img3, #img4, #img5, #img6, #img8, #img9, #img10, #img12, #img13, #img14, #img15, #img16, #img17, #img18, #img19, #img20, #img21, #img22, #img23, #img24, #img25, #img26 {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 40px;
}
*/ 

.fadeImg, .fadeImg2, .zoom {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 40px;
}

#img7, #img11 {
  
  border-radius: 40px;
}

.list-img {
  display: flex;
  width: 400px;
  max-width: 100%;
  height: 400px;
  max-height:100%;
  overflow: hidden;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #00FF00;
  margin: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-600%);
  
}

#photo-text, #about-me-text, #contactUs-FormTitle, #contact-section {
  border-bottom: 2px solid #00FF00;
  padding-top: 50px;
  font-size: 50px;
}

.imgBtn {
  color:black;
  margin:0;
  padding:0;
  border: none;
  background: none;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.imgBtn:focus {
  outline: none;
}
/*
.imgBtn {
  border: 2px solid red;
}
.imgBtn img {
  border: 2px solid green;
}
*/
.list-img:hover{
  transform: scale(1.25);
}

.fadeImg:hover, .fadeImg2:hover, .zoom:hover{
  transform: scale(2);
}

a {
  color:#00FFBB;
}

a:visited {
  color: 	#00BFFF;
}

.payTextHead {
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.payBtn {
  font-size: 15px;
  color:#000000;
  border-color:#00FF00;
  background-color: #91ffa7;
  border-radius: 30px;
  height: 40px;
  width: 180px;
}

.payBtn:hover, #submitButton:hover {
  background-color:white;
}

.zelleQR {
  width: 150px;
  height: 150px;
}

#imporMsg {
  font-size:25px;
  font-weight: bold;
  animation: colorChange 3s infinite;
}

.zelleQR:hover, .QR:hover {
  border: 2px solid #00FF00
}

#form {
  padding-top: 20px;
  font-size: 20px;
}

.form-input {
  background-color: #91ffa7;
  height: 24px;
  width: 300px;
  border-radius: 10px;
}

#form-input-area {
  background-color: #91ffa7;
  width: 300px;
  border-radius: 10px;
}

#submitButton {
  font-size: 30px;
  color:#000000;
  border-color:#00FF00;
  background-color: #91ffa7;
  border-radius: 30px;
  height: 40px;
  width: 180px;
}

#message-error {
  color: #FF0000;
  font-size: 30px;
}

.error {
  background-color: #91ffa7;
  height: 24px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #FF0000;
}

#welcomeMsg, #beforeAfter {
  font-size:30px;
}

#bookNow {
  font-size: 50px;
  font-weight: bold;
  animation: colorChange 3s infinite;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}

#reviewBody {
  font-size: 30px;
}

.review_http {
  color:#00FFBB;
}

#reviewSectionTitle {
  font-size: 50px;
  border-bottom: 2px solid #00FF00;
}