body {
    background-color: #000000;
    color: #00FF00;
    border: 1px solid rgb(0, 240, 0);
    text-align: center;
    text-shadow: 2px 2px 5px #ffffff;
}

.navbar {
  width: 100%;
  background-color:#0f0f0f;
  position: fixed;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

.nav-link {
  color:#00FF00;
  padding-right:10px;
}

#logo {
  width: 23px;
  height: 20px;
}

@keyframes colorChange {
  0% { color: #FF0000; }
  25% { color: #00FF00; }
  50% { color: #FF0000; }
  75% { color: #00FF00; }
  100% { color: #FF0000; }
}

#paymentHead{
    font-size: 40px;
    text-decoration: underline;
}

.payTextHead {
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 25px;
}

.payBtn {
  font-size: 15px;
  margin-bottom: 15px;
  color:#000000;
  border-color:#00FF00;
  background-color: #91ffa7;
  border-radius: 30px;
  height: 40px;
  width: 180px;
}

.payBtn:hover, #submitButton:hover {
  background-color:white;
}

.zelleQR {
  width: 160px;
  height: 160px;
  margin-bottom: 60px;
}

#imporMsg {
  font-size:25px;
  font-weight: bold;
  animation: colorChange 3s infinite;
  padding-top: 15px;
}

.zelleQR:hover, .QR:hover {
  border: 2px solid #00FF00
}

#paymentQs {
    font-size:20;
    padding: 55px;
}

.tele, .email{
    color: #00FF00;
}

.tele:hover, .email:hover {
    color:white;
}