body {
    background-color: #000000;
    color: #00FF00;
    border: 1px solid rgb(0, 240, 0);
    text-align: center;
    text-shadow: 2px 2px 5px #ffffff;
  }

.navbar {
  width: 100%;
  background-color:#0f0f0f;
  position: fixed;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

.nav-link {
  color:#00FF00;
  padding-right:10px;
}

#logo {
  width: 23px;
  height: 20px;
}

#title {
  font-size: 50px;
  text-decoration: underline;
  margin-top: 50px;
}

.imgContainer {
  background-color: #000000;
  display: block;
  padding: 20px;
  padding-top:50px;
}

.projectImgTitle {
  font-size: 30px;
}

#beforeNAfter {
  font-size: 40px;
  text-decoration: underline;
}

.fadeImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.fadeImg, .fadeImg2, .zoom {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 40px;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #00FF00;
  margin: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-600%);
}

.fadeImg:hover, .fadeImg2:hover, .zoom:hover{
  transform: scale(2);
}

#photo-disclaimer {
  font-size:10px;
  padding-top: 50px;
}

footer{
    color: #00FF00;
    font-size: 15px;
}