body {
  background-color: #000000;
  color: #00ff00;
  border: 1px solid rgb(0, 240, 0);
  text-align: center;
  text-shadow: 2px 2px 5px #ffffff;
  height: 100%
}

#about-me, #mission {
  font-size: 23px;
  font-style: italic;
  text-shadow: 2px 2px 5px #ffffff;
  padding-top: 10px;
}

#about-me-text {
  text-decoration: underline;
  font-size: 50px;
}

#missionTitle {
  font-size: 50px;
  border-bottom:  2px solid #00ff00;
}

.navbar {
  width: 100%;
  background-color:#0f0f0f;
  position: fixed;
  top: 0;
  font-size: 20px;
  z-index: 1;
}

.nav-link {
  color:#00FF00;
  padding-right:10px;
}

#logo {
  width: 23px;
  height: 20px;
}
